<h1>Wharton Small Group Meals</h1>

<h2>Here's how it works:</h2>
	<p>You fill out a form indicating your top interests</p>
	<p>	We match you up with 5-6 other Wharton MBA students, each of whom will have at least 2 industry preferences, hobbies, or regional affiliations that match yours</p>
	<p>An introductory email is sent out to the group</p>
	<p>You guys organize an awesome small group meal!</p>
	<p>We promise that your personal information will not be shared, and will only be used for the purposes of determining small group meals assignments</p>

<li><%=link_to "Lets take the survey!", @surveyor_index %></li>
